svg {
  border:1px solid;
}

#ellipseSliders {
  float:right;
  display:none;
  padding-left:15px;
}

#newSpreadsheetURL {
  width:200px;
}

table#menuItems {
  width:100%;
  margin-bottom:10px;
}

table#menuItems h3 {
  margin-top:0;
  margin-bottom:2px;
}

#groupingOptions {
	background: #ffffff;
	border:1px solid black;
	padding: 5px;
	display: hidden;
	
}

#displayOptions {
	background: #ffffff;
	border:1px solid black;
	padding: 5px;
	display: hidden;
}

#dataSetAdd {
	background: #ffffff;
	border:1px solid black;
	padding: 5px;
	max-height: 400px;
  overflow:scroll;
  overflow-x: hidden;
  -ms-overflow-x: hidden;
  display: hidden;
  overflow-y: hidden;
  -ms-overflow-y: hidden;
}

#dataSetEdit {
	background: #ffffff;
	border:1px solid black;
	padding: 5px;
	max-height: 400px;
  overflow:scroll;
  overflow-x: hidden;
  -ms-overflow-x: hidden;
  display: hidden;
  overflow-y: hidden;
  -ms-overflow-y: hidden;
}

#clipboardPrompt {
	background: #ffffff;
	border:1px solid black;
	padding: 5px;
	max-height: 400px;
  overflow:scroll;
  overflow-x: hidden;
  -ms-overflow-x: hidden;
  overflow-y: hidden;
  -ms-overflow-y: hidden;
  display: hidden;
}

#dataSetEntry {
	border-collapse: collapse; 
}

#worksheetCreate {
	background: #ffffff;
	border:1px solid black;
	padding: 5px;
	width: 250px;
	max-height: 400px;
  overflow:scroll;
  overflow-x: hidden;
  -ms-overflow-x: hidden;
  display: hidden;
  overflow-y: hidden;
  -ms-overflow-y: hidden;
}

#aboutPopup {
	background: #ffffff;
	border:1px solid black;
	padding: 5px;
	width: 400px;
	max-height: 400px;
  overflow:scroll;
  overflow-x: hidden;
  -ms-overflow-x: hidden;
  display: hidden;
  overflow-y: hidden;
  -ms-overflow-y: hidden;
}
