svg {
  border:1px solid;
}

#ellipseSliders {
  float:right;
  display:none;
  padding-left:15px;
}

#ellipseSliders .ui-slider {
  margin-bottom:15px;
}

.menu {
  padding-bottom:20px;
}

#newSpreadsheetURL {
  width:400px;
}